#main-header-nav a { font-size: 16px !important; }

@media (min-width: 1000px) {
  #main-content #main-entry h1.entry-title { font-size: 40px !important; line-height: 40px !important; }
}

.outer-promo-banner, #footer-outer-promo-banner { display: none !important; }
@media (max-width: 765px) {
  body.app-promo { margin-top: 71px !important; }
  body.app-promo #main-header-bar { margin-top: 0 !important; }
}

.watch_rank_wrap > .thumb-vote-area { display: none !important; }
.action-bar li.link-todo { display: none !important; }
a[href="/pmwiki/query.php?type=wl"] { display: none !important; }

[data-n19-tvt-later] { display: none !important; }
.section-block:has(> div > .podcast_photo) { display: none !important; }
.video-star-rating, .video-comment-count { display: none !important; }

@media (max-width: 1060px) {
  #main-header-nav a { font-size: 15px !important; }
}
@media (max-width: 1035px) {
  #main-header-nav a { font-size: 14px !important; }
}
.footer-left > a.img-link { display: none !important; }
